.ant-spin-dot-item {
    background-color: var(--c-java) !important;
}

.ant-spin {
    max-height: none !important;
}

.ant-popover-content {
    font-family: "Montserrat", sans-serif !important;
    font-weight: var(--f-medium) !important;
}

.ant-btn {
    font-weight: var(--f-medium) !important;
}

.ant-btn:hover, .ant-btn:focus {
    color: var(--c-blue-chill) !important;
    border-color: var(--c-blue-chill) !important;
}

.ant-btn:active {
    color: var(--c-blue-chill);
    border-color: var(--c-blue-chill);
}

.ant-btn-primary {
    background: var(--c-java) !important;
    border-color: var(--c-java) !important;
}

.ant-btn:hover, .ant-btn:focus {
    color: white !important;
    border-color: var(--c-java) !important;
}

.ant-modal-title {
    font-family: "Montserrat", sans-serif !important;
    font-weight: var(--f-semibold) !important;
}

.ant-modal-content {
    border-radius: 8px !important;
}

/* .ant-modal-body {
    padding: 0 !important;
} */